/****** Script for SelectTopNRows command from SSMS  ******/


use TERADATA
--Alter table [dbo].[DONATIONS_PARTICIPANTS_TEAMS_EVENTS] alter COLUMN [Donations_RegistrationDate] DATETIME

--SELECT COLUMN_NAME,* FROM INFORMATION_SCHEMA.COLUMNS

--WHERE TABLE_NAME = 'DONATIONS_PARTICIPANTS_TEAMS_EVENTS'

--AND COLUMN_NAME LIKE '%DATE%' AND DATA_TYPE <>'datetime'


DECLARE  CUR_DATE_COLS CURSOR lOCAL FOR  SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS

WHERE TABLE_NAME = 'DONATIONS_PARTICIPANTS_TEAMS_EVENTS'

AND COLUMN_NAME LIKE '%DATE%' AND DATA_TYPE <>'datetime'

DECLARE @COLUMN_NAME VARCHAR(80)
DECLARE @SQLString nvarchar(1000);
OPEN CUR_DATE_COLS
FETCH NEXT FROM CUR_DATE_COLS INTO @COLUMN_NAME  
    WHILE @@FETCH_STATUS = 0  
    BEGIN  
		
        SELECT @COLUMN_NAME
        
		SET @SQLString = 'ALTER TABLE DONATIONS_PARTICIPANTS_TEAMS_EVENTS ALTER COLUMN "'+  @COLUMN_NAME + '" DATETIME'
		EXECUTE sp_executesql @SQLString
		PRINT @COLUMN_NAME + ' ALTERED TO DATETIME' 
        FETCH NEXT FROM CUR_DATE_COLS INTO @COLUMN_NAME  
        END  

		CLOSE CUR_DATE_COLS


		SELECT Donations_TeamCreationDate,* FROM DONATIONS_PARTICIPANTS_TEAMS_EVENTS

		WHERE ISDATE(Donations_TeamCreationDate) =0

	--	UPDATE DONATIONS_PARTICIPANTS_TEAMS_EVENTS SET Donations_TeamCreationDate =null WHERE ISDATE(Donations_TeamCreationDate) =0
